* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f0f0f0;
}

.register-container {
    display: flex;
    width: 95%;
    max-width: 1100px;
    height: 600px;
    background: white;
    margin: 50px auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 18px rgba(0,0,0,0.2);
}

.left-side {
    width: 50%;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-side img {
    width: 85%;
    max-height: 90%;
}

.right-side {
    width: 50%;
    padding: 50px;
}

.right-side h1 {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 500;
}

form label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

form input {
    width: 100%;
    padding: 12px 15px;
    margin-top: 5px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 15px;
}

button {
    width: 100%;
    margin-top: 30px;
    padding: 15px;
    background: #222;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.2s;
}

button:hover {
    background: #444;
}

/* Responsivo */
@media(max-width: 850px) {
    .register-container {
        flex-direction: column;
        height: auto;
    }

    .left-side, .right-side {
        width: 100%;
        height: auto;
    }
}
